<div class="container">
  <div class="row">
    <h2>How does it work?</h2>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card rounded-0 px-3">
        <i class="fa-regular fa-file-lines fa-4x"></i>
        <h3>Fill the form</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          dignissim massa leo. Vestibulum placerat faucibus eros, congue tempor
          nulla bibendum ac. Nulla iaculis eros nisl, a dictum nibh vulputate
          et. Suspendisse hendrerit maximus sapien et euismod.
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card rounded-0 px-3">
        <i class="fa-regular fa-hourglass-half fa-4x"></i>
        <h3>Wait for confirmation</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          dignissim massa leo. Vestibulum placerat faucibus eros, congue tempor
          nulla bibendum ac. Nulla iaculis eros nisl, a dictum nibh vulputate
          et. Suspendisse hendrerit maximus sapien et euismod.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card rounded-0 px-3">
        <i class="fa-solid fa-car-on fa-4x"></i>
        <h3>Pick up the car and drive</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          dignissim massa leo. Vestibulum placerat faucibus eros, congue tempor
          nulla bibendum ac. Nulla iaculis eros nisl, a dictum nibh vulputate
          et. Suspendisse hendrerit maximus sapien et euismod.
        </p>
      </div>
    </div>
  </div>
  <button class="btn btn-primary">More</button>
</div>
