<div class="container my-5">
	<h2>Special offers</h2>
	<div class="row">
		<div class="col-md-6 mb-3">
			<div class="card">
				<img src="https://www.autocentrum.pl/MmYyLmpwYgw4GzpeXwxvGHtDbkIRFGALMBUpQhMWP0AvHD4eGRgjQmwaKFRGQysLOk54D0NCfg44SHxbFUUrX3cTPApSCg" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
					dignissim massa leo. Vestibulum placerat faucibus eros, congue tempor
					nulla bibendum ac. Nulla iaculis eros nisl, a dictum nibh vulputate
					et. Suspendisse hendrerit maximus sapien et euismod.</p>
			</div>
		</div>
		<div class="col-md-6 mb-3">
			<div class="card">
				<img src="https://is-ak.bnm.pl/04/o/o/31/5170207.jpg?v=1689773126" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
					dignissim massa leo. Vestibulum placerat faucibus eros, congue tempor
					nulla bibendum ac. Nulla iaculis eros nisl, a dictum nibh vulputate
					et. Suspendisse hendrerit maximus sapien et euismod.</p>
			</div>
		</div>
	</div>
	<button class="btn btn-primary" type="button">See full list of cars</button>
</div>