<div class="container">
  <h2>Special offers</h2>
  <div class="row">
    <div class="specialCard" id="special1">
      <div class="hidden">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          dignissim massa leo. Vestibulum placerat faucibus eros, congue tempor
          nulla bibendum ac. Nulla iaculis eros nisl, a dictum nibh vulputate
          et. Suspendisse hendrerit maximus sapien et euismod.
        </p>
        <button class="btn btn-primary" type="button">Rent now</button>
      </div>
    </div>
    <div class="specialCard" id="special2">
      <div class="hidden">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          dignissim massa leo. Vestibulum placerat faucibus eros, congue tempor
          nulla bibendum ac. Nulla iaculis eros nisl, a dictum nibh vulputate
          et. Suspendisse hendrerit maximus sapien et euismod.
        </p>
        <button class="btn btn-primary" type="button">Rent now</button>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="button">See full list of cars</button>
</div>
