.navbar {
    background-color: rgba(0, 0, 0, 0); 
    transition: background-color 1s ease; 
}

.navbar-scrolled {
	background-color: rgba(0, 0, 0, 1);
}

.navbar-brand {
    position: relative;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    z-index: 2; /* Dodano z-index, aby przyciski były na wierzchu gradientu */
}