<div class="container top">
  <h2>Cars</h2>
  <div class="filters">
    <div>
      <label for="sort">Sort by</label>
      <select id="sort">
        <option value="0">All</option>
        <option value="1">Cheap</option>
        <option value="2">Expensive</option>
      </select>
    </div>

    <div>
      <label for="filter">Filters</label>
      <select id="filter">
        <option value="0">All</option>
        <option value="1">Cheap</option>
        <option value="2">Expensive</option>
      </select>
    </div>
  </div>

  <div class="cars" *ngFor="let car of displayedData">
    <div class="details">
      <h4>{{ car.name }}</h4>
      <div class="row">
        <div class="col-6">
          <div>
            <p>
              <mat-icon fontIcon="directions_car"></mat-icon>
              {{ car.details.engine }}
            </p>
          </div>
          <p><mat-icon fontIcon="local_gas_station"></mat-icon>{{ car.details.fuel }}</p>
          <p><mat-icon fontIcon="bolt"></mat-icon>{{ car.details.power }} HP</p>
        </div>
        <div class="col-6">
          <p><mat-icon fontIcon="speed"></mat-icon>{{ car.details.topspeed }} km/h</p>
          <p><mat-icon fontIcon="gear"></mat-icon>{{ car.details.transmission }}</p>
          <p><mat-icon fontIcon="directions_car"></mat-icon>{{ car.details.type }}</p>
        </div>
      </div>
      <h5>Price: {{ car.price }} $ per day</h5>
    </div>
    <div class="image">
      <img [src]="car.imageUrl" alt="" />
    </div>
  </div>

  <mat-paginator
    #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [hidePageSize]="true"
    [pageIndex]="pageIndex"
    aria-label="Select page"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
