@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
	padding-top: 200px;
}

.mat-stepper-vertical {
	margin-top: 8px;
}
  
.mat-mdc-form-field {
	margin-top: 16px;
}

.test {
	border-style: solid;
	border-color: azure;
	border-width: 1px;
	color: blue;
}

.stepper li {
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	cursor: pointer;
  }
  
  .stepper li.active {
	background-color: #ccc;
  }