<div class="container">
  <h2>Booking</h2>
  <div class="row">
    <div class="test col-md-4">
      <mat-card>
        <h3>Booking summary</h3>
        <div *ngIf="formData?.carSelection">
          <h4>Pick up</h4>
          <p>{{formData?.carSelection.start | date: 'short'}}</p>
          <p>Warsaw</p>
        </div>
        <div *ngIf="formData?.extras">
          <h4>Extras</h4>
          <ul>
            <li *ngFor="let extra of formData.extras | keyvalue">
              <span *ngIf="extra.value">{{ extra.key }}</span>
            </li>
          </ul>
        </div>
        <div *ngIf="formData?.contactDetails">
          <h4>Contact</h4>
          <p>{{formData?.contactDetails.firstName}}</p>
        </div>
      </mat-card>
      <button (click)="onTest()">Test</button>
    </div>

    <div class="col-md-8 test">
      <div>Step {{ currentStep }}</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
