@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
	padding-top: 200px;
}

.mat-stepper-vertical {
	margin-top: 8px;
}
  
.mat-mdc-form-field {
	margin-top: 16px;
}

.test {
	border-style: solid;
	border-color: azure;
	border-width: 1px;
	color: black;
}

